
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Helvetica, sans-serif;
  background-color: var(--nasa-blue);
  color: var(--nasa-white);
}


.nasa-logo {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  height: 250px;
  width: 100%;
}

