.App {
  background-image: url(/public/images/pono-lopez-qwoW4mdqjWw-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.nasa-logo {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  height: 250px;
  width: 100%;
}

