.search-input, .search-btn {
    font-family: inherit;
    height: inherit;
    border-radius: 20px;
    font-size: 20px;
    background-color: var(--nasa-grey);
    color: var(--nasa-darkBlue);
    font-weight: bolder;
    padding: 5px 12px;
    margin: 15px 10px;
    border: 2px solid var(--nasa-white);
}
.search-btn:hover{
    cursor: pointer;;
}
.search-input {
    width: 40%;
}