.search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

.result-class1 {
    background-color: red;
}

#results {
    background-color: blue;
}

#results.result-class1 {
    background-color: yellow;
}

.search-result__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.thumbnail {
    position: relative;
    background-size: 200px auto;
    background-repeat: no-repeat;
    height: 300px;
    width: 200px;
    flex-grow: 1;
    flex-basis: calc(100% / 4 - 10px);
    margin: 5px;
}

.thumbnail img {
    opacity: 0;
    display: block;
    width: 200px;
    height: 100px;
    border-width: 1px;
    border: solid 4px;
    border-color: var(--nasa-grey);
    margin: 5px;
    padding: 5px;
}
