.search-input {
    font-family: inherit;
    width: 50%;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    padding: 0 10px;
    background-color: var(--nasa-grey);
    color: var(--nasa-darkBlue);
    font-weight: bolder;
}
.search-btn {
    font-size: 20px;
    font-family: inherit;
    border-radius: 20px;
    background-color: var(--nasa-grey);
    color: var(--nasa-darkBlue);
    height: 50px;
    font-size: 20px;
    padding: 0px 10px;
}